<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Indicadores GrupoSC</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="alto">
  <ion-card class="pincipal">
    <p>
      <ion-card-subtitle style="text-align:center; color: aliceblue; font-size: 16px">Analise da Produção por
        Conferente</ion-card-subtitle>
    </p>
    <ion-item class="top">
      <ion-label>Conferente</ion-label>
      <ion-button color="danger" class="menu">Unidades</ion-button>
      <ion-button color="danger" class="menu">Media</ion-button>
      <ion-button color="danger" class="menu">% da Meta</ion-button>
    </ion-item>
  </ion-card>
</ion-content>

<ion-content class="baixo">
  <ion-card class="dados">

    <ion-item *ngFor="let analise of analises">
      <ion-label>{{analise.nome}}</ion-label>
      <ion-button>{{analise.total}}</ion-button>
      <ion-button>{{analise.media}}</ion-button>
      <ion-button>{{analise.porcen}}</ion-button>
    </ion-item>


  </ion-card>
</ion-content>