
cabeçalho da pagina home
      .top {
        position: fixed;
        margin-bottom: 40px !important;
        z-index: 999;       
    }

    p{
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .alto {
        --background: url('/assets/img/GrupoSC-top.png') 0 0/100% 100% no-repeat;
        max-height: 90px;
    }


.pincipal {    

    ion-slides {
        height: 7%;                
    }

   span {
        color: #ffffff;   
        
    }
    
    ion-item {  
        --border-radius: 5px;    
             
    }

    ion-label {
        font-size: 12px;
        white-space: pre-line;   
    }

    ion-button {      
        width:90;
        height:100;
        max-height: 40px;
        min-height: 40px;
        max-width: 60px;
        min-width: 60px;
        font-size: 12px;
        white-space: pre-line;            
        --border-radius: 6px;     
    }

  .menu {
    font-size: 9px;
  }
        
}

.dados {

    margin-top: 8px;

    ion-slides {
        height: 7%;                
    }

    span {
        color: #ffffff;   
        
    }
    
    ion-item {  
        --border-radius: 5px;    
             
    }

    ion-label {
        font-size: 12px;
        white-space: pre-line;   
    }

    ion-button {      
        width:90;
        height:100;
        max-height: 40px;
        min-height: 40px;
        max-width: 60px;
        min-width: 60px;
        font-size: 12px;
        white-space: pre-line;            
        --border-radius: 6px;     
    }

  .menu {
    font-size: 9px;
  }
        
}

.baixo {      
    --background: url('/assets/img/GrupoSC-d.png') 0 0/100% 100% no-repeat;
    // background-repeat: no-repeat;    
    // background-size: cover ;
}