.alto {
  --background: url('/assets/img/GrupoSC-top13.png') 0 0/100% 100% no-repeat;
  max-height: 60px;

}

.pincipal {
  background-color:  #004B84;

ion-list {
        background-color:  #004B84;
    }
    
    span {
        color: #ffffff;   
    }
    
    ion-label {
        font-size: 16px;
        white-space: pre-line;   
    }
       
}

.baixo {      
  --background: url('/assets/img/GrupoSC-top13.png') 0 0/100% 100% no-repeat;
  // background-repeat: no-repeat;    
  // background-size: cover ;
}