<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">

  <ion-header>
      <ion-toolbar color="secondary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
              <span>Indicadores GrupoSC</span>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Analise da Produção por Conferente.</ion-card-subtitle>          
        </ion-card-header>
        <ion-list *ngFor="let analise of analises">
          <ion-item>
            <ion-icon name="nome" slot="start"></ion-icon>
            <ion-card-content>{{analise.nome}}</ion-card-content>
          </ion-item>
          <ion-item>
            <ion-icon name="total" slot="start"></ion-icon>
            <ion-card-content>{{analise.total}}</ion-card-content>
          </ion-item>
          <ion-item>
            <ion-icon name="media" slot="start"></ion-icon>
            <ion-card-content>{{analise.media}}</ion-card-content>
          </ion-item>
          <ion-item>
            <ion-icon name="porcen" slot="start"></ion-icon>
            <ion-card-content>{{analise.porcen}}</ion-card-content>
          </ion-item>
        </ion-list>


      </ion-card>

 
</ion-content>