.alto {
    --background: url('/assets/img/GrupoSC-top13.png') 0 0/100% 100% no-repeat;
    max-height: 110px;
    
  
  }  


  .pincipal {
    background-color:  #004B84;
  
  ion-list {
     background-color:  #004B84;          
      }
   
  ion-item {
    --border-radius: 5px;  
    font-size: 16px;
    white-space: pre-line;   
  }    
      
      span {
          color: #ffffff;   
      }     
            
  }
  
  .baixo {      
    --background: url('/assets/img/GrupoSC-top13.png') 0 0/100% 100% no-repeat;
    // background-repeat: no-repeat;    
    // background-size: cover ;
  }