<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Indicadores GrupoSC</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="alto">
  <ion-card>
    <p>
      <ion-card-subtitle style="text-align:center; color: aliceblue; font-size: 16px">Fechamento Operacional
      </ion-card-subtitle>
    </p>
    <P>
      <ion-item class="top">
        <ion-label style="font-size: 14px">Data do Fechamento: </ion-label>
        <ion-input type="date" [(ngModel)]=data (click)="Fechamento()"></ion-input>
      </ion-item>
    </P>
  </ion-card>
</ion-content>

<ion-content class="baixo">
  <div class="pincipal">

    <ion-card>
      <ion-list *ngFor="let fecha of fechamentos">
        <ion-item>
          <ion-label>Captação Total: </ion-label>
          <ion-card-content>{{fecha.captacao_total  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Captação Comercial: </ion-label>
          <ion-card-content>{{fecha.captacao_comercial  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Venda Linha: </ion-label>
          <ion-card-content>{{fecha.linha  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Venda Psico: </ion-label>
          <ion-card-content>{{fecha.psico  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Pedido Grande - Unidades: </ion-label>
          <ion-card-content>{{fecha.pedido_grande_unidades  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Pedido Grande - Volumes: </ion-label>
          <ion-card-content>{{fecha.pedido_grande_volumes  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Inicio de Linha: </ion-label>
          <ion-card-content>{{fecha.inicio_linha  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Falta Inicio de Linha: </ion-label>
          <ion-card-content>{{fecha.falta_inicio_linha  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Conferência: </ion-label>
          <ion-card-content>{{fecha.conferencia  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Falta Conferir: </ion-label>
          <ion-card-content>{{fecha.falta_conferencia  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Prev. Termino - Linha: </ion-label>
          <ion-card-content>{{fecha.termino_linha}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Prev. Termino - Conferencia: </ion-label>
          <ion-card-content>{{fecha.termino_conferencia}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Volumes Rota 762: </ion-label>
          <ion-card-content>{{fecha.rede762  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Volumes Rota 766: </ion-label>
          <ion-card-content>{{fecha.rede766  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
        <ion-item>
          <ion-label>Volumes Rota 790: </ion-label>
          <ion-card-content>{{fecha.rede790  | number : '1.0-0'}}</ion-card-content>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>