#areaDeImpressao {
  display: none;
}

@media print {
 * {
     display: none;
  }
  #areaDeImpressao {
     display: block;
  }
}

@media print {
  html, body {
      margin: 0;
      padding: 0;
      border: 0;
  }
  #printable {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 14px;
  }
  #printable ~ * {
      display: none;
  }
}