<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">


  <div class="pincipal">

    <ion-slides>
      <ion-slide>
        <span>Indicadores GrupoSC</span>
      </ion-slide>
    </ion-slides>

    <p>
      <ion-item>
        <ion-label>UPM Total</ion-label>
        <ion-badge>22</ion-badge>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>UPM Linha</ion-label>
        <ion-badge>22</ion-badge>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>UPM Psico</ion-label>
        <ion-badge>22</ion-badge>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>Cancelamento Operacional</ion-label>
        <ion-badge>22</ion-badge>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>Cancelamento Comercial </ion-label>
        <ion-badge>22</ion-badge>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>Cancelamento Total </ion-label>
        <ion-badge>22</ion-badge>
      </ion-item>
    </p>




  </div>
</ion-content>