.pincipal {
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;  
    
        ion-slides {
            height: 10%;                
        }
    
        span {
            color: #ffffff;   
            
        }
        
        ion-item {  
            --border-radius: 5px;  
            
                    
        }

       
        ion-label {
            font-size: 12px;
            white-space: pre-line;   
        }

        ion-button {
            width:90;
            height:100;
            max-height: 40px;
            min-height: 40px;
            max-width: 50px;
            min-width: 50px;
            font-size: 12px;
            white-space: pre-line;            
            --border-radius: 6px;     
        }

      .menu {
        font-size: 9px;
      }

    // cabeçalho da pagina home
    //   .top {
    //     position: fixed;
    //     margin-bottom: 40px !important;
    //     z-index: 999;
        
    // }

    // p{
    //     margin-top: 60px;
    //     margin-bottom: -50px;
    // }
    
    }

   

    

ion-content {
    --background: url('/assets/img/GrupoSC-d.png') 0 0/100% 100% no-repeat;   
}
    
      