<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">

  <ion-header >
      <ion-toolbar color="secondary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
              <span>Indicadores GrupoSC</span>
          </ion-title>
        </ion-toolbar>
      </ion-header>

<ion-list>
  <ion-item *ngFor "let upms of upm">
    <ion-avatar item-start>

    </ion-avatar>
    <h2>{{upm.data}}</h2>
    <p>{{upm.volumes}}</p>
    <p>{{upm.erros}}</p>
    <p>{{upm.upm}}</p>
  </ion-item>
</ion-list>

    

 
</ion-content>