

.pincipal {
    // left: 0;
    // right: 0;
    // bottom: 0;
    // height: 100%;
    // background-image: url('/assets/img/GrupoSC-d.png');
    // background-repeat: no-repeat;
    // background-size: contain;        
    background-color:  #2A5695;

    ion-list {
            background-color:  #2A5695;
        }
        
        span {
            color: #ffffff;   
        }
        
        ion-label {
            font-size: 16px;
            white-space: pre-line;   
        }
           
    }
    
    