<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">


  <div class="pincipal">

    <ion-slides>
      <ion-slide>
        <span>Indicadores GrupoSC</span>
      </ion-slide>
    </ion-slides>

    <p>
        <ion-item>
          <ion-label>Indicador</ion-label>
          <span>------------------</span>
          <ion-label>Meta</ion-label>
          
          <ion-label>Realizado</ion-label>
        </ion-item>
      </p>
    <p>
      <ion-item>
        <ion-label>UPM Total</ion-label>
        <ion-badge>900</ion-badge> 
        <span>-----------</span>
        <ion-badge>1.300</ion-badge>
        <span>----</span>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>UPM Linha</ion-label>
        <ion-badge>900</ion-badge> 
        <span>-----------</span>
        <ion-badge>1.300</ion-badge>
        <span>----</span>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>UPM Psico</ion-label>
        <ion-badge>900</ion-badge> 
        <span>-----------</span>
        <ion-badge>1.300</ion-badge>
        <span>----</span>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>Cancelamento Op</ion-label>
        <ion-badge>0,06%</ion-badge> 
        <span>----------</span>
        <ion-badge>0,06%</ion-badge>
        <span>---</span>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>Cancelamento Com </ion-label>
        <ion-badge>0,65%</ion-badge> 
        <span>----------</span>
        <ion-badge>0,65%</ion-badge>
        <span>---</span>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-label>Cancelamento Total </ion-label>
        <ion-badge>1,23%</ion-badge> 
        <span>----------</span>
        <ion-badge>1,23%</ion-badge>
        <span>---</span>
      </ion-item>
    </p>




  </div>
</ion-content>