.pincipal {
    background: #122045;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    
        ion-slides {
            height: 10%;              
        }
    
        span {
            color: #ffffff;       
        }
        
        ion-item {  
            --border-radius: 10px;            
        }
        
    
    }
    
    